<div class="m">
  <div class="foot">
    <div class="footnav">
      <ul>
       			  <li><a class="current" href="/">大众首页</a></li>	  <li>|</li>
                    <li><a class="current" href="/custom/405/" rel="nofollow">联系我们</a></li>	  <li>|</li>
      </ul>
    </div>
    <div class="copyright">
     大众调查24小时在线服务电话：</span>{{gphone}}<br>
		地址：{{dizhi}} 电话：{{gphone}} <br>
      Copyright 2012 <a href="http://{host}">南京调查公司</a>.<a href="/">南京私家侦探</a>.<a href="/">南京私人侦探</a>.<a href="/">南京婚姻调查</a>.<a href="/">南京婚外情调查</a>.<a href="/">南京商务调查</a> All Rights Reserved. </div>
 </div>
</div>
