{%load test_filter%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ website_title }}-南通大众商务调查有限公司</title>
<meta name="description" content="南通最好的私家侦探公司，南通私家侦探网，南通大众调查公司，南通最专业的私家侦探，南通好的婚姻调查公司" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="/static/img/style.css" media="screen" />
<script src="/static/zb_system/script/common.js" type="text/javascript"></script>
<script src="/static/zb_system/function/c_html_js_add.asp" type="text/javascript"></script>
<script src="/static/zb_users/theme/canglong/script/custom.js" type="text/javascript"></script>
<meta name="baidu-site-verification" content="3Z2EPKMCCE" />
</head>
<body>
<div class="m">
  <div class="head">
    <div class="logo"> <a href="index.html" ><img  src="/static/img/top.jpg" /></a> </div>
    <div class="so">
      <div class="shoucang"><a href="index.html" class="heiqian">返回首页</a>&nbsp;┊&nbsp;<a href="index.html#" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('<?php bloginfo('url'); ?>');" class="homepage">设为首页</a>&nbsp;┊<a href="index.html#" onclick="javascript:bookmark('<?php bloginfo('name'); ?>','<?php bloginfo('url'); ?>');" target="_blank" class="favicon">&nbsp;加为收藏</a>&nbsp;</div>
      <div class="sousuo">
        <form action="http://www.nantongzt.com/zb_system/cmd.asp?act=Search" method="post" target="_blank" class="bdcs-search-form" autocomplete="off" id="bdcs-search-form">
          <input type="text" name="edtSearch" class="bdcs-search-form-input" id="bdcs-search-form-input" placeholder="请输入关键词" style="height: 26px; line-height: 26px;">
          <input type="submit" class="bdcs-search-form-submit " id="bdcs-search-form-submit" value="搜索">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="m">
  <div class="nav">
    <ul>
				  <li><a class="current" href="index.html">网站首页</a></li>	  <li>|</li><li id="menu-page-400"><a href="400.html">最新资讯</a></li> <li>|</li><li id="menu-page-400"><a href="400.html">企业文化</a></li>  <li>|</li><li id="menu-page-401"><a href="401.html">服务项目</a></li>  <li>|</li><li id="menu-page-402"><a href="402.html">服务流程</a></li>  <li>|</li>  <li id="menu-page-403"><a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html">法律法规</a></li>  <li>|</li><li id="menu-page-404"><a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html">关于收费</a></li>  <li>|</li><li id="menu-page-405"><a href="405.html">联系我们</a></li>
    </ul>
  </div>
</div>
<div class="m">
  <div class="banner"> 
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1000" height="175">
      <param name="movie" value="/img/top.swf" />
      <param name="quality" value="high" />
      <embed src="/static/img/top.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1000" height="175"></embed>
    </object>
</div>
</div>
<div class="m">
  <div class="mainleft">
    <div class="jianjie">
      <div class="huandeng">
	  <script type="text/javascript">
function $(id) { return document.getElementById(id); }
function addLoadEvent(func){
var oldonload = window.onload;
if (typeof window.onload != 'function') {
window.onload = func;
} else {
window.onload = function(){
oldonload();
func();
}
}
}
function addBtn() {
if(!$('ibanner')||!$('ibanner_pic')) return;
var picList = $('ibanner_pic').getElementsByTagName('a');
if(picList.length==0) return;
var btnBox = document.createElement('div');
btnBox.setAttribute('id','ibanner_btn');
var SpanBox ='';
for(var i=1; i<=picList.length; i++ ) {
var spanList = '<span class="normal">'+i+'</span>';
SpanBox += spanList;
}
btnBox.innerHTML = SpanBox;
$('ibanner').appendChild(btnBox);
$('ibanner_btn').getElementsByTagName('span')[0].className = 'current';
for (var m=0; m<picList.length; m++){
var attributeValue = 'picLi_'+m
picList[m].setAttribute('id',attributeValue);
}
}
function moveElement(elementID,final_x,final_y,interval) {
if (!document.getElementById) return false;
if (!document.getElementById(elementID)) return false;
var elem = document.getElementById(elementID);
if (elem.movement) {
clearTimeout(elem.movement);
}
if (!elem.style.left) {
elem.style.left = "0px";
}
if (!elem.style.top) {
elem.style.top = "0px";
}
var xpos = parseInt(elem.style.left);
var ypos = parseInt(elem.style.top);
if (xpos == final_x && ypos == final_y) {
moveing = false;
return true;
}
if (xpos < final_x) {
var dist = Math.ceil((final_x - xpos)/10);
xpos = xpos + dist;
}
if (xpos > final_x) {
var dist = Math.ceil((xpos - final_x)/10);
xpos = xpos - dist;
}
if (ypos < final_y) {
var dist = Math.ceil((final_y - ypos)/10);
ypos = ypos + dist;
}
if (ypos > final_y) {
var dist = Math.ceil((ypos - final_y)/10);
ypos = ypos - dist;
}
elem.style.left = xpos + "px";
elem.style.top = ypos + "px";
var repeat = "moveElement('"+elementID+"',"+final_x+","+final_y+","+interval+")";
elem.movement = setTimeout(repeat,interval);
}
function classNormal() {
var btnList = $('ibanner_btn').getElementsByTagName('span');
for (var i=0; i<btnList.length; i++){
btnList[i].className='normal';
}
}
function picZ() {
var picList = $('ibanner_pic').getElementsByTagName('a');
for (var i=0; i<picList.length; i++){
picList[i].style.zIndex='1';
}
}
var autoKey = false;
function iBanner() {
if(!$('ibanner')||!$('ibanner_pic')||!$('ibanner_btn')) return;
$('ibanner').onmouseover = function(){autoKey = true};
$('ibanner').onmouseout = function(){autoKey = false};
var btnList = $('ibanner_btn').getElementsByTagName('span');
var picList = $('ibanner_pic').getElementsByTagName('a');
if (picList.length==1) return;
picList[0].style.zIndex='2';
for (var m=0; m<btnList.length; m++){
btnList[m].onmouseover = function() {
for(var n=0; n<btnList.length; n++) {
if (btnList[n].className == 'current') {
var currentNum = n;
}
}
classNormal();
picZ();
this.className='current';
picList[currentNum].style.zIndex='2';
var z = this.childNodes[0].nodeValue-1;
picList[z].style.zIndex='3';
if (currentNum!=z){
picList[z].style.left='650px';
moveElement('picLi_'+z,0,0,10);
}
}
}
}
setInterval('autoBanner()', 5000);
function autoBanner() {
if(!$('ibanner')||!$('ibanner_pic')||!$('ibanner_btn')||autoKey) return;
var btnList = $('ibanner_btn').getElementsByTagName('span');
var picList = $('ibanner_pic').getElementsByTagName('a');
if (picList.length==1) return;
for(var i=0; i<btnList.length; i++) {
if (btnList[i].className == 'current') {
var currentNum = i;
}
}
if (currentNum==(picList.length-1) ){
classNormal();
picZ();
btnList[0].className='current';
picList[currentNum].style.zIndex='2';
picList[0].style.zIndex='3';
picList[0].style.left='650px';
moveElement('picLi_0',0,0,10);
} else {
classNormal();
picZ();
var nextNum = currentNum+1;
btnList[nextNum].className='current';
picList[currentNum].style.zIndex='2';
picList[nextNum].style.zIndex='3';
picList[nextNum].style.left='650px';
moveElement('picLi_'+nextNum,0,0,10);
}
}
addLoadEvent(addBtn);
addLoadEvent(iBanner);
</script>
<div id="ibanner">
<div id="ibanner_pic">
<a href="lsfw/415.html" target="_blank" title="南通市王某肇事逃逸一案处理"><img src="/static/zb_users/upload/2016/1/2016011664231421.jpg" alt="南通市王某肇事逃逸一案处理" /></a>
<a href="sswq/414.html" target="_blank" title="南通私家侦探详解商务调查的重要性"><img src="/static/zb_users/upload/2016/1/2016011664174829.jpg" alt="南通私家侦探详解商务调查的重要性" /></a>
<a href="zyqq/413.html" target="_blank" title="帮助服装企业解决坏账问题"><img src="/static/zb_users/upload/2015/11/2015111957639357.jpg" alt="帮助服装企业解决坏账问题" /></a>
<a href="djwq/410.html" target="_blank" title="新买豪车上高速2小时抛锚 ？"><img src="/static/zb_users/upload/2015/11/2015111957669185.jpg" alt="新买豪车上高速2小时抛锚 ？" /></a>
<a href="hydc/409.html" target="_blank" title="南通私家侦探-该如何对待-出轨男"><img src="/static/zb_users/upload/2015/11/2015111541624433.jpg" alt="南通私家侦探-该如何对待-出轨男" /></a>
</div>
</div>
	   </div>
      <div class="jianjiecon"> &nbsp;&nbsp;&nbsp;&nbsp;<strong>我们是谁--</strong>南通大众商务调查有限公司是南通唯一合法注册的、江苏省最大的专业从事民事、经济、商务调查的私家侦探、私人侦探公司。江苏省重合同守信用企业，江苏省企业诚信评审委员会指定调查机构。</P><p><strong>我们是一个有清晰战略目标、有明确概念体系的专业调查机构--</strong>我们是中国商务调查行业较早的一批从业者和拓荒者，我们的理论探索将引导中国商务调查行业的发展，我们正在进行的实践将对中国商务调查行业具有开拓性的意义。</p><p><strong>我们的管理团队具有复合型的背景与经历</strong><strong>——</strong>公司实力雄厚，手续完备，设备先进，优质高效，遵纪守法，具备各类调查资质。我们客户管理人员具备国语|粤语|英语|日语等多个语种交流能力，能熟练地与不同国家，地区的客户进行有效地沟通和交流。我们的行动部门负责人在业务执行上能有效的与各地……</p>
 </div>
    </div>
    <div class="xinwen">
      <div class="newstit"><span>>> <a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html" target="_blank">更多内容</a></span><strong>婚姻调查</strong></div>
      <div class="newslist">
        <ul>
            {%for post in  23|get_fenlei_wenzhang %}
          <li><a target="_blank" href="{{ post.get_absolute_url }}">{{post.title}}</a></li>
            {%endfor%}
        </ul>
      </div>
    </div>
    <div class="xinwen">
      <div class="newstit"><span>>> <a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html" target="_blank">更多内容</a></span><strong>专业清欠</strong></div>
      <div class="newslist">
        <ul>
            {%for post in  24|get_fenlei_wenzhang %}
          <li><a target="_blank" href="{{ post.get_absolute_url }}">{{post.title}}</a></li>
            {%endfor%}
        </ul>
      </div>
    </div>
    <div class="xinwen">
      <div class="newstit"><span>>> <a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html" target="_blank">更多内容</a></span><strong>商务调查</strong></div>
      <div class="newslist">
        <ul>
            {%for post in  25|get_fenlei_wenzhang %}
          <li><a target="_blank" href="{{ post.get_absolute_url }}">{{post.title}}</a></li>
            {%endfor%}
        </ul>
      </div>
    </div>

    <div style="clear:both"></div>
    <div class="flash">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="778" height="139">
        <param name="movie" value="/img/zhongJ.swf" />
        <param name="quality" value="high" />
        <embed src="/static/img/zhongJ.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="778" height="139"></embed>
      </object>
    </div>
    <div style="clear:both"></div>


    <div class="xinwen">
      <div class="newstit"><span>>> <a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html" target="_blank">更多内容</a></span><strong>打假维权</strong></div>
      <div class="newslist">
        <ul>
            {%for post in  26|get_fenlei_wenzhang %}
          <li><a target="_blank" href="{{ post.get_absolute_url }}">{{post.title}}</a></li>
            {%endfor%}
        </ul>
      </div>
    </div>
    <div class="xinwen">
      <div class="newstit"><span>>> <a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html" target="_blank">更多内容</a></span><strong>财产调查</strong></div>
      <div class="newslist">
        <ul>
            {%for post in  27|get_fenlei_wenzhang %}
          <li><a target="_blank" href="{{ post.get_absolute_url }}">{{post.title}}</a></li>
            {%endfor%}
        </ul>
      </div>
    </div>
    <div class="xinwen">
      <div class="newstit"><span>>> <a href="{{28|get_fenlei_url}}" target="_blank">更多内容</a></span><strong>律师服务</strong></div>
      <div class="newslist">
        <ul>
            {%for post in  28|get_fenlei_wenzhang %}
          <li><a target="_blank" href="{{ post.get_absolute_url }}">{{post.title}}</a></li>
            {%endfor%}
        </ul>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
  <div class="mainrig">
    <div class="lianxi">
      <div class="lianxicon"><strong style="margin-top:15px; margin-bottom:15px; font-size:14px; font-weight:bold; height:32px">南通大众商务调查有限公司</strong><br />
        地址：南通市崇川区南大街88号名都广场<br />
        电话：0513-85323007 <br />
        传真：0513-85525511<br />
		      网址：www.nantongzt.com<br />
			  E-main：2808214000@qq.com
      </div>
    </div>
    <div style="clear:both"></div>
    <div class="zizhi">
      <div class="tit2">合作伙伴</div>
      <div class="zizhilist">
	  <div id="colee" style="overflow:hidden;height:290px;width:210px; margin-top:10px">
<div id="colee1">
<p><img src="/static/img/chinacourt.jpg"></p>
<p><img src="/static/img/logo1.gif"></p>
<p><img src="/static/img/logo3.gif"></p>
<p><img src="/static/img/logo4.gif"></p>
<p><img src="/static/img/logo6.gif"></p>
<p><img src="/static/img/logo.jpg"></p>
<p><img src="/static/img/chinacourt.jpg"></p>
<p><img src="/static/img/logo1.gif"></p>
<p><img src="/static/img/logo3.gif"></p>
<p><img src="/static/img/logo4.gif"></p>
<p><img src="/static/img/logo6.gif"></p>
<p><img src="/static/img/logo.jpg"></p>
</div>
<div id="colee2"></div>
</div>
<script>
var speed=40;
var colee2=document.getElementById("colee2");
var colee1=document.getElementById("colee1");
var colee=document.getElementById("colee");
colee2.innerHTML=colee1.innerHTML; //克隆colee1为colee2
function Marquee1(){
//当滚动至colee1与colee2交界时
if(colee2.offsetTop-colee.scrollTop<=0){
 colee.scrollTop-=colee1.offsetHeight; //colee跳到最顶端
 }else{
 colee.scrollTop++
}
}
var MyMar1=setInterval(Marquee1,speed)//设置定时器
//鼠标移上时清除定时器达到滚动停止的目的
colee.onmouseover=function() {clearInterval(MyMar1)}
//鼠标移开时重设定时器
colee.onmouseout=function(){MyMar1=setInterval(Marquee1,speed)}
</script>
<!--向上滚动代码结束-->
	   </div>
      <div class="tit2"><a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html" target="_blank"><font color="#FFFFFF">公司新闻</font></a></div>
      <div class="flink">
        <ul>
          <li><a target="_blank" href="gsxw/469.html">女人出轨的六大变化</a></li>
          <li><a target="_blank" href="gsxw/468.html">私家侦探如何做好婚姻调查</a></li>
          <li><a target="_blank" href="gsxw/465.html">为什么婚姻调查选择南通大众调查</a></li>
          <li><a target="_blank" href="gsxw/464.html">介绍闺蜜做老公下属岂料引狼入室-南通大众私家侦探网</a></li>
          <li><a target="_blank" href="gsxw/463.html">娇艳妻子挺起36D豪乳为我拉客源？-南通大众私家侦探网</a></li>
          <li><a target="_blank" href="gsxw/462.html">娇艳妻子和网友开房裸聊我要离婚？-南通大众私家侦探网</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="m">
  <div class="foot">
    <div class="footnav">
      <ul>
       			  <li><a class="current" href="index.html">网站首页</a></li>	  <li>|</li><li id="menu-page-400"><a href="400.html">最新资讯</a></li> <li>|</li><li id="menu-page-400"><a href="400.html">企业文化</a></li>  <li>|</li><li id="menu-page-401"><a href="401.html">服务项目</a></li>  <li>|</li><li id="menu-page-402"><a href="402.html">服务流程</a></li>  <li>|</li>  <li id="menu-page-403"><a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html">法律法规</a></li>  <li>|</li><li id="menu-page-404"><a href="zb_system/function/c_error.asp-errorid=4&number=0&description=&source=&sourceurl=http_||www.nantongzt.com|.html">关于收费</a></li>  <li>|</li><li id="menu-page-405"><a href="405.html">联系我们</a></li>
      </ul>
    </div>
    <div class="copyright"> 
     大众调查24小时在线服务电话：</span>0513-85323007<br>
		地址：南通市崇川区南大街88号名都广场 电话：0513-85323007 <br>
      Copyright 2012 <a href="index.html#">南京调查公司</a>.<a href="index.html#">南京私家侦探</a>.<a href="index.html#">南京私人侦探</a>.<a href="index.html#">南京婚姻调查</a>.<a href="index.html#">南京婚外情调查</a>.<a href="index.html#">南京商务调查</a> All Rights Reserved. </div>
 </div>
</div>
</body>
</html>
<!-- 0ms -->